# Build
/dist/
/tmp/
/out-tsc/
/bazel-out/
.angular/cache

# Node
/node_modules/
npm-debug.log*
yarn-error.log*

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Variáveis de ambiente
.env
.env.local

# SO
.DS_Store
Thumbs.db
